/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Metropolis', Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  /*font-family: 'Poppins', sans-serif;*/
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

video{
  display: block;
}

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: 'Metropolis', Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
[class*="icon-"]:before{
  content: '';
  display: block;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
}

img{
  display: block;
  max-width: 100%;
}

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
    font-family:'Metropolis';
    src: url('../fonts/Metropolis-Black.eot');
    src: url('../fonts/Metropolis-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Metropolis-Black.woff2') format('woff2'),
         url('../fonts/Metropolis-Black.woff') format('woff'),
         url('../fonts/Metropolis-Black.ttf') format('truetype'),
         url('../fonts/Metropolis-Black.svg#Metropolis-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Metropolis';
    src: url('../fonts/Metropolis-Thin.eot');
    src: url('../fonts/Metropolis-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Metropolis-Thin.woff2') format('woff2'),
         url('../fonts/Metropolis-Thin.woff') format('woff'),
         url('../fonts/Metropolis-Thin.ttf') format('truetype'),
         url('../fonts/Metropolis-Thin.svg#Metropolis-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Metropolis';
    src: url('../fonts/Metropolis-Regular.eot');
    src: url('../fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Metropolis-Regular.woff2') format('woff2'),
         url('../fonts/Metropolis-Regular.woff') format('woff'),
         url('../fonts/Metropolis-Regular.ttf') format('truetype'),
         url('../fonts/Metropolis-Regular.svg#Metropolis-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  width: 100%;
  min-width: 320px;
  order: 1;
  -webkit-order: 1; 
  position: fixed;
  left: 0px;
  top: 0px;
  padding-bottom: 10px;
  z-index: 1;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
}
header .wrapper{
   transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  padding-top: 20px;
}
header.sticky{
  background-color: #272727;
}
header.sticky .wrapper{
  padding-top: 10px;
}
.logo-box{
  float: left;
}
.header-menu{
  float: right;
}
.header-menu__item{
  float: left;
  margin-right: 40px;
}
.header-menu__item:last-child{
  margin-right: 0px;
}
.header-menu__link{
  display: block;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  line-height: 22px;
}
.header-menu__link:hover{
  text-decoration: underline;
}

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  text-align: left;
  width: 100%;
  min-width: 320px;
  order: 3;
  -webkit-order: 3; 
  padding: 12px 0px;
  background-color: #272727;
}
.footer-col{
  width: 33.33333%;
  float: left;
}
.footer-col_right{
  float: right;
}
.footer-menu{
  padding-top: 15px;
}
.footer-menu-item{
  float: left;
  margin-right: 40px;
}
.footer-menu-item:last-child{
  margin-right: 0px;
}
.footer-menu-item a{
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}
.footer-menu-item a:hover{
  text-decoration: underline;
}
.scl-list{
  padding-top: 15px;
}
.scl-list-item{
  float: left;
  margin-right: 12px;
}
.scl-list-item:last-child{
  margin-right: 0px;
}
.scl-list-link{
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../img/sprite.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.scl-list-link:hover{
  opacity: 0.7;
}
.scl-list-link.gg{
  background-position: -37px 0px;
}
.scl-list-link.yt{
  background-position: -72px 0px;
}
.scl-list-link.fb{
  background-position: -107px 0px;
}
.scl-list-link.inst{
  background-position: -140px 0px;
}
.footer-logo{
  text-align: center;
}
.footer-logo-link{
  display: inline-block;
}
.copy{
  font-size: 12px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
}
.sbscrb-title{
  padding-top: 15px;
  text-align: right;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.sbscrb-field{
  float: right;
  width: 295px;
  padding-top: 5px;
}
.sbscrb-input{
  height: 28px;
  line-height: 28px;
  border: 1px solid #415933;
  font-size: 16px;
  color: #ff8a21;
  padding: 0px 10px;
  float: left;
  width: 215px;
  font-size: 16px;
  background-color: #fff;
}
.sbscrb-input::-webkit-input-placeholder { color: #ff8a21; }
.sbscrb-input::-moz-placeholder          { color: #ff8a21; }
.sbscrb-input:-moz-placeholder           { color: #ff8a21; }
.sbscrb-input:-ms-input-placeholder      { color: #ff8a21; }
.sbscrb-btn{
  display: block;
  float: left;
  width: 80px;
  border: 1px solid #415933;
  line-height: 24px;
  height: 28px;
  text-align: center;
  color: #ff8a21;
  font-size: 16px;
  background-color: #fff;
}

.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start; }

.wrapper {
  min-width: 320px;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative; 
}

/* titles */
p {
  font-size: 18px;
  line-height: 22px;
  color: #383838;
  font-weight: 200; 
  font-style: italic;
  text-align: center;
  letter-spacing: 0.4px;
  text-shadow: 0 0;
}

h1 {
  font-size: 40px;
  line-height: 44px;
  color: #3e3e3e;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4px;
}
h2 {
  font-size: 40px;
  line-height: 44px;
  color: #ff8a21;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4px;
}

h3 {
  font-size: 21px;
  line-height: 25px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4px;
}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.top-block{
  position: absolute;
  background-image: url('../img/top-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 75px;
  position: relative;
}
.top-image img{
  margin: 0 auto;
}
.top-logo{
  margin-top: -200px;
}
.top-logo img{
  margin: 0 auto;
}
.top-partners{
  text-align: center;
  margin-bottom: 40px;
  position: static!important;
}
.top-partners__item{
  display: inline-block;
  vertical-align: middle;
  margin: 0px 35px;
}
.top-text{
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  width: 83%;
  margin: 25px auto;
  margin-bottom: 20px;
}
.btn{
  display: block;
  margin: 0 auto;
  width: 152px;
  height: 35px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: 1px solid #ff8a21;
  color: #fff;
  line-height: 35px;
  text-align: center;
  background-color: #ff8a21;
}
.btn:hover{
  background-color: #fff;
  color: #ff8a21;
}
.about{
  background-image: url('../img/about-bg.png');
  background-position: 0px 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 45px;
}
.about-text{
  width: 83%;
  margin: 20px auto;
  margin-bottom: 35px;
}
.about-image img{
  margin: 0 auto;
}
.access{
  background-image: url('../img/about-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-top: 6px solid #ff8a21;
  border-bottom: 6px solid #ff8a21;
  padding: 80px 0px;
  padding-bottom: 0px;
  background-color: #272727;
}
.access .wrapper{
  padding-bottom: 80px;
}
.access-text{
  width: 50%;
  margin: 0 auto;
  margin-top: 13px;
  padding-top: 20px;
  position: relative;
  color: #fff;
}
.access-text:before{
  content: '';
  display: block;
  width: 76%;
  height: 1px;
  background-color: #ff8a21;
  position: absolute;
  top: 0px;
  left: 12%;
}
.access-image{
  width: calc(33.3333% - 30px);
  position: absolute;
  bottom: 0px;
  left: 15px;
}
.access-image_right{
  left: auto;
  right: 15px;
}
.online{
  padding-bottom: 70px;
  background-image: url('../img/about-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.online-image{
  width: 36%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.online-image img{
  margin: 0 auto;
}
.online h2{
  color: #3e3e3e;
}
.online-text{
  width: 83%;
  margin: 0 auto; 
  margin-top: 15px;
  color: #3e3e3e;
}
.method{
  border-top: 1px solid #ff8a21;
  border-bottom: 1px solid #ff8a21;
  overflow: hidden;
}
.flex-wrapper{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.flex-item{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  min-height: 350px;
}
.flex-item_image{
  width: 41%;
}
.flex-item_content{
  position: relative;
  width: 41%;
  padding: 30px 0px;
}
.flex-item_content:before{
  content: '';
  display: block;
  width: 2000px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -20px;
  background-color: #272727;
  z-index: -1;
}
.flex-item_content:after{
  content: '';
  display: block;
  width: 180px;
  height: 100%;
  background-image: url('../img/triangle.png');
  background-position: 100% 0px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  left: -195px;
}
.flex-item-wrapper{
  align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  width: 100%;
}
.flex-item h2{
  line-height: 39px;
  text-align: left;
  margin-bottom: 15px;
}
.flex-text{
  text-align: left;
  color: #fff;
}
.flex-image img{
  margin: 0 auto;
}
.support{
  border-top: 1px solid #ff8a21;
  border-bottom: 1px solid #ff8a21;
}
.support .flex-item_content:before{
  left: auto;
  right: -20px;
  background-color: #222;
}
.support .flex-item_content:after{
  left: auto;
  right: -195px;
  background-image: url('../img/triangle-right.png');
}
.support .flex-item_content{
  padding-left: 100px;
  width: 50%;
}
.support .flex-item_image{
  width: 33.3333%;
}
.steps{
  padding-top: 40px;
  padding-bottom: 70px;
}
.steps-left{
  width: 100%;
  float: left;
  padding-left: 100px;
  margin-right: -445px;
  padding-right: 515px;
  padding-top: 10px;
}
.steps-right{
  width: 445px;
  float: left;
}
.steps-list{
  padding-bottom: 20px;
  text-align: center;
  overflow: hidden;
}
.steps-list__item{
  display: inline-block;
  width: 300px;
  margin-bottom: 20px;
  float: left;
  position: relative;
}
.steps-list__item:before{
  content: '';
  display: block;
  background-image: url('../img/sprite.png');
  background-position: 0px -64px;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  margin-top: -5px;
  left: 10px;
  width: 58px;
  height: 86px;
}
.steps-list__item:nth-child(2){
  float: none;
}
.steps-list__item:last-child{
  margin-bottom: 0px;
  float: right;
}
.steps-list__item:last-child:before{
  display: none;
}
.steps-list__item-image{
  width: 118px;
  float: left;
}
.steps-list__item-inf{
  float: left;
  margin-left: -118px;
  padding-left: 132px;
  width: 100%;
  padding-top: 50px;
}
.steps-list__item-name{
  font-size: 22px;
  color: #383838;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
}
.steps-list__item-text{
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 19px;
  text-align: left;
}
.steps-left h2{
  text-align: left;
}
.steps-text{
  text-align: left;
  margin-top: 35px;
  padding-right: 80px;
}
.features{
  background-color: #272727;
  padding: 25px 0px;
  background-image: url('../img/features-bg.png');
  background-position: 0px 60px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.features-wrapper{
  border: 1px solid #ff8a21;
  padding: 15px 0px;
}
.features h2{
  font-size: 49px;
}
.features-list{
  text-align: center;
  margin-bottom: -30px;
  padding-top: 30px;
}
.features-list__item{
  width: 25%;
  display: inline-block;
  margin: 0px 3%;
  vertical-align: top;
  margin-bottom: 30px;
}
.features-list__item-name{
  font-size: 21px;
  line-height: 25px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.4px;
  text-align: center;
  height: 51px;
  overflow: hidden;
  display: table;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.features-list__item-name-wrapper{
  display: table-cell;
  vertical-align: bottom;
}
.features-list__item-image img{
  margin: 0 auto;
}
.features-text{
  margin-top: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.start{
  padding: 35px 0px;
  border-bottom: 1px solid #ff8a21;
}
.start-left{
  padding-left: 100px;
  float: left;
  width: 100%;
  margin-right: -470px;
  padding-right: 480px;
}
.start h2{
  text-align: left;
}
.start-text{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 15px;
}
.start .btn{
  margin-left: 0px;
}
.start-right{
  width: 470px;
  float: left;
  padding-top: 45px;
}
.industries{
  padding-top: 25px;
  padding-bottom: 70px;
  background-image: url('../img/industries-bg.png');
  background-position: 0px 90%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.industries h2{
  color: #272727;
}
.industries-text{
  width: 66.6666%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.industries-slider{
  padding: 0px 70px;
  position: relative;
}
.industries-wrapper{
  overflow: hidden;
}
.industries-list{
  margin-left: -50px;
}
.industries-list__item{
  float: left;
  width: 33.3333%;
  padding-left: 50px;
}
.industries-list__item-name{
  display: table;
  height: 50px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px;
}
.industries-list__item h3{
  color: #272727;
  display: table-cell;
  vertical-align: bottom;
}
.industries-list__item-image{
  margin-bottom: 10px;
}
.industries-list__item-image img{
  margin: 0 auto;
}
.industries-list__item-text{
  font-size: 20px;
  line-height: 24px;
}
.slick-arrow{
  text-indent: -9999px;
  display: block;
  background-color: transparent;
  padding: 0px;
  border: 0px;
  width: 22px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 0px;
  background-image: url('../img/sprite.png');
  background-position: -48px -30px;
  background-repeat: no-repeat;
  z-index: 1;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
}
.slick-arrow.slick-next{
  background-position: -79px -30px;
  left: auto;
  right: 0px;
}
.slick-arrow:hover{
  opacity: 0.7;
}
.ready{
  padding: 40px 0px;
}
.ready-text{
  width: 75%;
  float: left;
  text-align: center;
  font-size: 31px;
  line-height: 35px;
  letter-spacing: 0.4px;
  font-weight: 200;
  text-transform: uppercase;
  color: #ff8a21;
}
.ready-btn-wrapper{
  width: 25%;
  float: left;
}
.faq{
  background-color: #f5f5f5;
  padding: 25px 0px;
  background-image: url('../img/faq-bg.png');
  background-position: 0px 90%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 40px;
}
.faq h2{
  font-size: 30px;
  letter-spacing: 0px;
}
.faq-subtitle{
  font-size: 20px;
  color: #525252;
  margin-top: 25px;
  text-align: center;
}
.faq-text{
  width: 83%;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  margin-top: 5px;
}
.faq-list{
  padding: 15px 0px;
}
.faq-list__item{
  padding: 12px 0px;
  border-top: 2px solid #dbdcdc;
  display: block;
}
.faq-list__item-title{
  text-align: center;
  font-size: 20px;
  color: #525252;
}
.faq-list__item-text{
  display: none;
  width: 83%;
  margin: 0 auto;
  margin-top: 10px;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  color: #010101;
  line-height: 22px;
}
.faq-list__item-text ul{
  text-align: left;
  list-style-position: inside;
}
.faq .btn{
  background-color: transparent;
  width: 128px;
  height: 51px;
  line-height: 51px;
  text-transform: none;
  font-size: 16px;
  color: #fc8b26;
}
.faq .btn:hover{
  background-color: #fc8b26;
  color: #fff;
}
.blog{
  padding-top: 40px;
  padding-bottom: 35px;
}
.blog-title{
  font-size: 30px;
  color: #272727;
  line-height: 34px;
  margin-bottom: 5px;
}
.blog-text{
  width: 75%;
  margin: 0 auto;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #010101;
  margin-bottom: 50px;
  font-weight: 400;
}
.blog-wrapper{
  overflow: hidden;
  margin-top: 15px;
}
.blog-list{
  margin-left: -60px;
  padding-bottom: 70px;
}
.blog-list__item{
  float: left;
  width: 33.333%;
  padding-left: 60px;
}
.blog-list__item-date{
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 200;
  text-shadow: 0 0;
  text-align: center;
  letter-spacing: 2px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #3c855a;
  color: #fc8b26;
}
.blog-list__item-name{
  display: block;
  font-size: 18px;
  line-height: 28px;
  font-weight: 900;
  text-align: center;
  max-height: 110px;
  overflow: hidden;
  color: #000;
  margin: 10px 0px;
}
.blog-list__item-text{
  font-size: 18px;
  line-height: 27px;
  color: #000;
  text-align: center;
}
.blog-list__item-inf{
  max-height: 315px;
  overflow: hidden;
}
.blog-list__item-more{
  display: block;
  font-size: 18px;
  color: #575757;
  margin: 0 auto;
  margin-top: 20px;
  width: 98px;
  text-align: center;
  border-bottom: 1px solid #575757;
  font-family: 'Poppins', sans-serif;
}
.blog-list__item-more:hover{
  border-color: transparent;
}
.blog .slick-arrow{
  width: 17px;
  height: 30px;
  top: auto;
  left: 30%;
  bottom: 0px;
  background-position: 0px -30px;
}
.blog .slick-arrow.slick-next{
  left: auto;
  right: 30%;
  background-position: -23px -30px;
}
.slick-dots{
  position: absolute;
  bottom: 6px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.slick-slider{
  position: static;
}
.slick-dots li{
  display: inline-block;
  margin: 0px 5px;
  margin-right: 2px;
}
.slick-dots li button{
  display: block;
  text-indent: -99999px;
  padding: 0px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fc8b26;
  border: 0px;
}
.slick-dots li.slick-active button{
  background-color: #2c2c2c;
}




/* fancybox (modal windows) */
.popup{
  position: absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0;
}
.fancybox-overlay{
  background: rgba(0,0,0,0.8);
}
.fancybox-skin{
  background-color: #fff;
}
.fancybox-wrap{
  width: 1400px!important;
  max-width: 90%; 
}
.fancybox-close{
  width: 20px!important;
  height: 20px!important;
  top: 10px!important;
  right: 10px!important;
}
.fancybox-close:before,
.fancybox-close:after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 9px;
  left: 0px;
  transform: rotate(52deg);
  -webkit-transform: rotate(52deg);
  -moz-transform: rotate(52deg);
  -o-transform: rotate(52deg);
  -ms-transform: rotate(52deg);
  background-color: #0a0a0a;
}
.fancybox-close:after{
  left: auto;
  right: 0px;
  transform: rotate(-52deg);
  -webkit-transform: rotate(-52deg);
  -moz-transform: rotate(-52deg);
  -o-transform: rotate(-52deg);
  -ms-transform: rotate(-52deg);
}
.fancybox-outer{
  padding-bottom: 10px;
}
.fancybox-inner{
  width: 100%!important;
}
.window-open{
  padding: 15px 0px;
}
.fancybox-outer{
  background-image: url('../img/popup-bg.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.window-open .box-form {
  padding: 0px 30px;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 5px;
}
.box-form-col {
  float: left;
  width: 50%;
  padding-left: 60px;
}
.box-field{
  margin-bottom: 15px;
}
.box-field:last-child{
  margin-bottom: 0px;
}
.form-control{
  width: 100%;
  height: 45px;
  border: 2px solid #8b8b8b;
  padding: 0px 25px;
  color: #484848;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}
.form-control::-webkit-input-placeholder { color: #484848; }
.form-control::-moz-placeholder          { color: #484848; }
.form-control:-moz-placeholder           { color: #484848; }
.form-control:-ms-input-placeholder      { color: #484848; }
textarea.form-control {
  height: 150px;
  padding: 15px 20px;
  resize: none;
}
.box-field.no-validate .form-control{
  border-color: red;
}
.box-field.no-validate .form-control::-webkit-input-placeholder { color: red; }
.box-field.no-validate .form-control::-moz-placeholder          { color: red; }
.box-field.no-validate .form-control:-moz-placeholder           { color: red; }
.box-field.no-validate .form-control:-ms-input-placeholder      { color: red; }
.box-form-btns {
  padding-top: 20px;
  display: inline-block;
  width: 100%;
}
.form-btn{
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.captcha-item{
  display: inline-block;
  vertical-align: middle;
}
.window-open h2{
  font-size: 24px;
  color: #0a0a0a;
  margin-top: 10px;
}
.window-open-logo img{
  margin: 0 auto;
}
span.succes-text{
  display: block;
  font-size: 18px;
  text-align: center;
}

.menu-btn{
  display: none;
}

.subscription-descr{
  text-align: right;
  font-size: 16px;
  color: green;
}
.sbscrb-input.error{
  border: 1px solid red;
}
.sbscrb-input.error::-webkit-input-placeholder { color: red; }
.sbscrb-input.error::-moz-placeholder          { color: red; }
.sbscrb-input.error:-moz-placeholder           { color: red; }
.sbscrb-input.error:-ms-input-placeholder      { color: red; }

.start-image{
  position: relative;
}
.start-image-abs{
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.start-image-abs.second{
  bottom: 53px;
  left: 164px;
  z-index: -1;
}
.start-image-abs.third{
  left: 224px;
  bottom: 92px;
  z-index: -2;
}
.start-image-abs.fourth{
  bottom: 137px;
  left: 294px;
  z-index: -3;
}
.scrollblock{
  position: static!important;
}

.payment{
  padding: 20px 0px;
  padding-bottom: 0px;
}
.payment-col{
  float: left;
  width: 50%;
}
.payment-col:last-child{
  padding-left: 30px;
  padding-top: 70px;
}
.payment-image{
  float: right;
}
.payment h2{
  text-align: left;
  margin-bottom: 15px;
}
.payment p{
  text-align: left;
}
.steps-subtitle{
  padding-top: 15px;
  font-weight: 900;
  font-size: 14px;
  color: #ff8a21;
  letter-spacing: 1px;
}

/* top bar */
.top-bar{
  text-align: center;
  padding: 4px 0px;
  background-color: #999;
  position: relative;
}
.top-bar-text{
  display: inline-block;
  font-weight: 700;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 14px;
}
.top-bar-text br{
  display: none;
}
.top-bar-field{
  display: inline-block;
  vertical-align: middle;
}
.top-bar-input{
  background-color: #fff;
  border: 1px solid #d9d9d9;
  width: 120px;
  height: 22px;
  padding: 0px 5px;
  color: #9c9c9c;
  font-size: 12px;
  float: left;
  display: block;
}
.top-bar-field .subscription-descr{
  line-height: 22px;
  background-color: transparent;
  color: #1d691d;
}
.top-bar-input.error::-webkit-input-placeholder { color: red; }
.top-bar-input.error::-moz-placeholder          { color: red; }
.top-bar-input.error:-moz-placeholder           { color: red; }
.top-bar-input.error:-ms-input-placeholder      { color: red; }
.top-bar-btn{
  float: left;
  width: 120px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #000;
  height: 22px;
  line-height: 22px;
  border-radius: 3px;
  margin-left: 5px;
}
.top-bar-close{
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #2a2a2a;
  background-color: #c2c2c2;
  top: 50%;
  margin-top: -9px;
  right: 6px;
}
.top-bar-close span{
  width: 12px;
  height: 12px;
  position: absolute;
  top: 8px;
  left: 2px;
  display: block;
  background-color: #2a2a2a;
  height: 1px;
  transform: rotate(45deg);
}
.top-bar-close span:last-child{
  transform: rotate(-45deg);
  left: auto;
  right: 2px;
}


/* media */
@media only screen and (max-width: 1500px){
  .fancybox-wrap{
    width: 900px!important;
    max-width: 90%; 
  }
}
@media only screen and (max-width: 1279px){
  .top-bar-text{
    display: block;
    margin-right: 0px;
    padding: 0px 25px;
    padding-bottom: 5px;
  }
  .top-bar-close{
    margin-top: 0px;
    top: 5px;
  }
  .fancybox-wrap{
    width: 600px!important;
    max-width: 90%; 
  }
  .window-open .box-form{
    max-width: 400px;
  }
  .box-form-btns{
    text-align: center;
  }
  .form-btn{
    margin-left: 0px;
    margin-top: 10px;
  }
  .top-partners__item img{
    max-width: 80%;
    margin: 0 auto;
  }
  .steps-left{
    padding-right: 470px;
  }
  .steps-text{
    padding-right: 0px;
  }
  h1{
    font-size: 35px;
    line-height: 39px;
  }
  h2{
    font-size: 35px;
    line-height: 39px;
  }
  .blog h2{
    font-size: 27px;
  }
  .support .flex-item_content{
    padding-left: 50px;
  }
}
@media only screen and (max-width: 991px){
  .top-bar-text{
    font-size: 11px;
    line-height: 14px;
  }
  .steps-subtitle{
    text-align: center;
  }
  .payment-col:last-child{
    padding-left: 20px;
    padding-top: 5px;
  }
  .fancybox-wrap{
    width: 80%!important;
    left: 10%;
  }
  .start-image{
    padding-top: 100px;
    left: -55px;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
  }
  .wrapper{
    padding: 0px 35px;
  }
  .top-logo img{
    width: 443px;
  }
  .top-text{
    width: 100%;
  }
  .top-partners__item{
    margin: 0px 4px;
  }
  .about-text{
    width: 100%;
  }
  .access{
    padding-top: 50px;
  }
  .online-text{
    width: 100%;
  }
  .flex-item_content{
    width: 50%;
  }
  .method .flex-item_image{
    width: 31%;
  }
  .method .flex-image{
    margin-left: -35px;
  }
  .support .flex-item_content{
    padding-left: 0px;
  }
  .flex-item_content:after{
    width: 120px;
    left: -139px;
  }
  .support .flex-item_content:after{
    right: -139px;
  }
  .online{
    padding-bottom: 30px;
  }
  .steps{
    background-color: #fffcf4;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .steps-left{
    padding-left: 65px;
    padding-right: 65px;
    margin-right: 0px;
    float: none;
  }
  .steps-left h2{
    text-align: center;
  }
  .steps-text{
    text-align: center;
  }
  .steps-right{
    float: none;
    margin: 0px auto;
    padding-top: 30px;
  }
  .steps-list{
    padding-bottom: 25px;
  }
  .features-list__item{
    width: 40%;
  }
  .features h2{
    font-size: 35px;
  }
  .start-left{
    padding-left: 0px;
    padding-right: 260px;
    margin-right: -255px;
  }
  .start-right{
    width: 255px;
  }
  .start-image{
    margin-right: -30px;
  }
  .industries-text{
    width: 100%;
  }
  .industries-slider{
    margin-left: -33px;
    margin-right: -33px;
    padding: 0px 50px;
  }
  .ready-text{
    width: 100%;
    font-size: 28px;
    line-height: 28px;
  }
  .ready-btn-wrapper{
    width: 100%;
    padding-top: 25px;
  }
  .footer-col{
    width: 50%;
  }
  .footer-col_logo{
    width: 100%;
    padding-top: 20px;
  }
  .blog{
    background-color: #fffcf4;
  }
  .top-image{
    margin-left: -45px;
    margin-right: -45px;
  }
  .top-logo{
    margin-top: -180px;
  }
}
@media only screen and (max-width: 767px){
  .top-bar-text{
    font-size: 10px;
    line-height: 12px;
  }
  .top-bar-text br{
    display: block;
  }
  .steps-text{
    margin-top: 15px;
  }
  .payment-col{
    width: 100%;
    float: none;
  }
  .payment-col:last-child{
    margin-top: 15px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .payment-image{
    float: none;
  }
  .payment-image img{
    margin: 0 auto;
  }
  .box-form-wrapper{
    margin-left: 0px;
  }
  .form-control{
    height: 35px;
  }
  .box-field{
    margin-bottom: 15px;
  }
  .box-form-col{
    float: none;
    width: 100%;
    padding-left: 0px;
  }
  .box-form-col_right{
    padding-top: 15px;
  }
  .window-open .box-form{
    padding-left: 15px;
    padding-right: 15px;
  }
  .start-image{
    width: 290px;
    left: 0px;
    padding-top: 20px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    margin: 0 auto;
  }
  .start-image img{
    width: 60%;
  }
  .start-image-abs.second,
  .start-image-abs.third,
  .start-image-abs.fourth{
    width: 103px;
  }
  .start-image-abs.second{
    bottom: 30px;
    left: 120px;
  }
  .start-image-abs.third{
    left: 160px;
    bottom: 50px;
  }
  .start-image-abs.fourth{
    left: 187px;
    bottom: 70px;
  }
  .subscription-descr{
    text-align: center;
  }
  .faq-list__item-text{
    font-size: 14px;
  }
  .wrapper{
    padding: 0px 15px;
  }
  header{
    background-color: #272727;
  }
  header .wrapper{
    padding-top: 10px;
  }
  .header-menu-wrapper{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0px;
    background-color: #272727;
    padding: 10px 15px;
  }
  .header-menu__item{
    float: none;
    text-align: center;
    margin-right: 0px;
    padding: 3px 0px;
  }
  .header-menu__link{
    display: inline-block;
  }
  .menu-btn{
    display: block;
    width: 30px;
    height: 22px;
    float: right;
    position: relative;
  }
  .menu-btn span{
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ff8a21;
    margin-bottom: 5px;
    border-radius: 2px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
  }
  .menu-btn span:last-child{
    margin-bottom: 0px;
  }
  .menu-btn.active span{
    top: 8px;
    left: 0px;
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
  .menu-btn.active span:nth-child(2){
    display: none;
  }
  .menu-btn.active span:last-child{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }
  .content{
    padding-top: 42px;
  }
  .top-logo img{
    width: 190px;
  }
  .top-logo{
    margin-top: -100px;
  }
  p,
  .top-text{
    font-size: 14px;
    line-height: 18px;
  }
  .top-partners__item{
    width: 29%;
    margin: 0px 2px;
  }
  .top-partners__item img{
    max-width: 100%;
  }
  .top-block{
    background-position: 50% 0px;
    background-size: cover;
  }
  .about{
    padding-top: 20px;
  }
  h1, h2{
    font-size: 20px;
    line-height: 24px;
  }
  .about-text{
    margin-bottom: 15px;
  }
  .access{
    padding-top: 30px;
    background-size: 100% 100px;
  }
  .access-text{
    width: 80%;
  }
  .access-image{
    width: 128px;
    left: -35px;
  }
  .access-image_right{
    left: auto;
    right: -35px;
  }
  .online-image{
    width: 100%;
  }
  .online-image img{
    width: 145px;
  }
  .flex-item{
    width: 100%!important;
    min-height: auto;
  }
  .flex-wrapper{
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
  .method .flex-image{
    margin-left: 0px;
  }
  .flex-item_content{
    order: 1;
    -webkit-order: 1; 
  }
  .flex-item_image{
    order: 2;
    -webkit-order: 2;
  }
  .flex-item h2{
    line-height: 24px;
    text-align: center;
  }
  .flex-text{
    text-align: center;
    padding: 0px 20px;
  }
  .flex-item_content:before{
    width: 768px;
    left: -15px;
    height: 85%;
  }
  .flex-item_content:after{
    width: calc(100% + 30px);
    height: 160px;
    left: -15px;
    top: 85%;
    background-image: url('../img/triangle-bottom.png');
    z-index: -1;
  }
  .flex-item_image{
    padding-top: 140px;
  }
  .steps-left{
    padding: 0px;
  }
  .steps-list__item-image{
    width: 81px;
  }
  .steps-list__item-inf{
    margin-left: -81px;
    padding-left: 90px;
    padding-top: 33px;
  }
  .steps-list__item-name{
    font-size: 15px;
  }
  .steps-list__item-text{
    font-size: 14px;
  }
  .steps-right{
    width: auto;
  }
  .steps-list__item{
    width: 240px;
  }
  .steps-list__item:before{
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    top: 70%;
    left: -7px;
  }
  .features h2{
    font-size: 15px;
  }
  .features-list__item-name{
    font-size: 12px;
    line-height: 16px;
  }
  .features-list__item-image img{
    width: 40px;
  }
  .features-list__item{
    width: 43%;
    margin-bottom: 10px;
  }
  .features-text{
    font-size: 13px;
    line-height: 17px;
  }
  .features{
    background-size: 100% 200px;
  }
  .features-list{
    margin-bottom: -10px;
    padding-top: 5px;
  }
  .start-left{
    padding-right: 0px;
    margin-right: 0px;
  }
  .start-right{
    width: 100%;
    padding-top: 50px;
  }
  .start h2{
    text-align: center;
  }
  .start-text{
    text-align: center;
  }
  .start .btn{
    margin: 0 auto;
  }
  .industries-slider{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 20px;
  }
  .industries .slick-arrow{
    top: 88px;
    margin-top: 0px;
  }
  .industries-list__item-text{
    font-size: 14px;
    line-height: 18px;
  }
  .support .flex-item_content:after{
    right: auto;
    left: -15px;
    background-image: url(../img/triangle-bottom.png);
  }
  .support .flex-item_image{
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .ready{
    padding: 25px 0px;
  }
  .faq h2{
    font-size: 20px;
    line-height: 24px;
  }
  .faq-text{
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
  .faq-list__item-text{
    width: 100%;
  }
  .blog-title{
    font-size: 20px;
    line-height: 24px;
  }
  .blog-title br{
    display: none;
  }
  .blog-text{
    width: 100%;
  }
  .blog-list__item-name{
    max-height: none;
  }
  .blog-list__item-inf{
    max-height: none;
  }
  .blog-list{
    padding-bottom: 30px;
  }
  .blog .slick-arrow{
    left: 15px;
    margin-left: 0px;
  }
  .blog .slick-arrow.slick-next{
    right: 15px;
    margin-right: 0px;
  }
  .footer-col{
    width: 100%;
  }
  .footer-menu-item{
    float: none;
    margin-right: 0px;
    text-align: center;
    padding: 4px 0px;
  }
  .scl-list{
    text-align: center;
  }
  .scl-list-item{
    display: inline-block;
    margin: 0px 5px;
    margin-right: 2px;
    float: none;
  }
  .sbscrb-title{
    text-align: center;
    padding-top: 20px;
  }
  .sbscrb-field{
    width: 290px;
    float: none;
    margin: 0 auto;
  }
  .sbscrb-input{
    width: 210px;
  }
  .copy{
    margin-left: -10px;
    margin-right: -10px;
    font-size: 11px;
  }
  .support .flex-item_content:before{
    background-color: #272727;
  }
  .box-form-btns{
    overflow: hidden;
  }
}
@media only screen and (max-width: 638px){
  .blog-list{
    padding-bottom: 65px;
  }
  .slick-dots li button{
    width: 11px;
    height: 11px;
  }
  .slick-dots li{
    margin: 0px 4px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 420px){
  .box-form-btns{
    padding-top: 5px;
  }
  .captcha-item{
    transform: scale(0.73);
    margin-left: -38px;
  }
} 

/* blog */

.blog-list__item-image {
  margin: 10px 0px;
}
.blog-list__item-image img{
  margin: 0 auto;
}